@font-face {
  font-family: 'yeyey';
  src: url('/fonts/Yeyey-1pK2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-image: url("/pudding_caramel.png");
  background-size: cover;
}

/* wording - Centered at the top */
.wording {
  position: absolute;
  top: 20px; /* Adjust the distance from the top */
  left: 50%;
  transform: translateX(-50%); /* Centers the text horizontally */
  font-family: 'yeyey';
  font-size: 140px; /* Set your desired font size */
  color: #f6f2af; /* Text color */
  -webkit-text-stroke: 2px #7b3933;  
}

.textbox {
  position: absolute;
  top: 390px; /* Adjust the distance from the top */
  left: 370px;
  transform: translateX(-50%); /* Centers the text horizontally */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  background-color: black;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Carousel controls */
.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background-size: contain; /* Ensure the image fits within the button */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-color: transparent;
  border: none;
  padding: 50px; /* Adjust padding for proper image sizing */
  cursor: pointer;
  font-size: 16px;
}

/* Set images for each button */
#prev {
  background-image: url("/pompurin_button.png"); /* Replace with your image path */
}

#next {
  background-image: url("/pompurin_button.png"); /* Replace with your image path */
}

.carousel-controls button:hover {
  transform: translate(0, -5px);
}
