@font-face {
  font-family: 'yeyey';
  src: url('/fonts/Yeyey-1pK2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-image: url("/pudding_caramel.png");
  background-size: cover;
}

/* wording - Centered at the top */
.wording {
  position: absolute;
  top: 20px; /* Adjust the distance from the top */
  left: 50%;
  transform: translateX(-50%); /* Centers the text horizontally */
  font-family: 'yeyey';
  font-size: 36px; /* Set your desired font size */
  color: #fff; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow */
  z-index: 10; /* Ensure the text is above other elements */
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Carousel controls */
.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  opacity: 1.0;
}

.carousel-controls button {
  background-size: contain; /* Ensure the image fits within the button */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-color: transparent;
  border: none;
  padding: 50px; /* Adjust padding for proper image sizing */
  cursor: pointer;
  font-size: 16px;
}

/* Set images for each button */
#prev {
  background-image: url("/pompurin_button.png"); /* Replace with your image path */
}

#next {
  background-image: url("/pompurin_button.png"); /* Replace with your image path */
}

.carousel-controls button:hover {
  transform: translate(0, -5px);
}
